
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c2b2b ;
    color: #f3f4f6;
}


header {
    background-color: #2c2b2b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    color: #2c2b2b;
}

/* Barra lateral */
.barra-lateral {
    width: 25%;
    background-color: #2c2b2b;
    padding: 20px;
    box-shadow: 0px 0px 50px rgba(248, 248, 248, 0.1);
}

.barra-lateral h2 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 0;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral ul li {
    margin: 10px 0;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #007bff;
}

.barra-lateral form {
    display: flex;
    flex-direction: column;
}

.barra-lateral label {
    margin: 10px 0 5px;
}

.barra-lateral input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.barra-lateral button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.barra-lateral button:hover {
    background-color: #0056b3;
}

/* Contenido principal */
.contenido-principal {
    width: 75%;
}

.contenido-principal article {
    background-color: #2c2b2b;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #fff;
}

.parrafos{
    color: blanchedalmond;
    font-size: x-large;
    text-align: center;
    
}

.img-portada{
    width: 350px;
    margin-left: 940px;
}



.contenido-principal h2 {
    color: #fff;
    margin-top: 0;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
