body{
    background-color: #2c2b2b;
}

h1{
    text-align: center;
    color: blanchedalmond;
}

.contenedor-principal {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.barra-lateral {
    width: 25%;
    background-color: #2c2b2b;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}