
header h1{
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;

}


body{
    font-family: Arial, sans-serif;
}

main h1{
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

main{
    background-color: black;
    color: white;
    width: 80%;
}

.container{
    display: flex;
}

aside{
    margin-right: 10px;
    padding: 40px;
    width: 25%;
    height: auto;   
    float: right;
    background-color: lightgray;

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul li{
    margin: 10px;
}


ul{
    list-style: none;
}

table {
    text-align: justify;
}

tfoot{
    text-align: center;
}

.numtlf{
    text-align: center;
    border: collapse;
}

.numtlf th{
background-color: lightgrey;
}

.numtlf th, td{
    border: 1px solid black;
    padding: 10px;
}

.dif th{
    font-weight: bold;

}

.dif{
    text-align: center;
}
